
<ion-view view-title="Catálogo" class="positive">
<div class="bar item-input-inset bar-subheader">
	<button ng-click="changeTab('lista')" class="button button-light icon icon ion-more"></button>
	<button ng-click="changeTab('grid')" class="button button-light icon ion-grid"></button>
	<label class="item-input-wrapper">
		<i class="icon ion-ios-search placeholder-icon"></i>
		<input type="search" ng-model="searchTerm" ng-change="doSearch()" placeholder="Buscar produto..." />
	</label>
	<button class="button button-clear" ng-click="cancelarBusca();">
		Cancel
	</button>
</div>
<ion-content class="bg-light has-subheader">

<div class="has-header" ng-show="tab == 'lista'">
	<div class="list">
		<a class="item item-thumbnail-left animated fadeInRight " 
		ng-repeat="item in Produtos track by item.ID" ui-sref="app.produto({ id: item.ID })">
		<img ng-src="img/produtos/{{item.ID}}.jpg">
		<h2 class="store-title">{{item.TITULO}}</h2>
		<p class="preco">
			R$ 150,00
		</p>
	</a>
</div>
</div>
<div class="has-header" ng-show="tab == 'grid'">
	<div class="row responsive-sm row-wrap">
		<a class="col col-33 animated fadeInLeft pos-rel" ng-class="{'col-50': colecoes.length==2}"  ng-repeat="item in Produtos track by item.ID " ui-sref="app.produto({ id: item.ID })">
			<div class="item item-image">
				<img ng-src="img/produtos/{{item.ID}}.jpg">
				<div class="item item-body catalogo-item-primary">
					<div class="row">
						<span class="catalogo-alignleft">{{item.TITULO}}</span>
					</div>
					<div class="row">
						<span class="preco">R$ 150,00</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
</ion-content>
<div ng-if="Produtos && !Produtos.length">
	<i class="icon icon-social-dropbox"></i>
	Nenhum produto encontrado
</div>
</ion-view>
