<script id="popover-view.html" type="text/ng-template">
	<ion-popover-view class="popover">
		<ion-content>
			<div class="list">
				<a href class="item" ng-class="{active: tab == 'todos'}" ng-click="changeTab('todos')">
					<span class="icon ion-ios-list-outline"></span>Todos
				</a>
				<a href class="item" ng-class="{active: tab == 'proximos'}" ng-click="changeTab('proximos')">
					<span class="icon ion-ios-location-outline"></span>Próximos a mim
				</a>
				<a href class="item" ng-class="{active: tab == 'mapa'}" ng-click="changeTab('mapa')">
					<span class="icon ion-map"></span>Mapa
				</a>
			</div>
		</ion-content>
	</ion-popover-view>
</script>
<ion-view view-title="Clientes" class="clientes">

	<div class="bar bar-subheader item-input-inset">
        <button ng-click="popover.show($event)" disabled class="button button-light icon ion-arrow-swap"></button>
        <button class="button button-balanced ion-person-add" disabled ng-click="adicionarCliente()"> Adicionar</button>
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="searchTerm" disabled ng-change="doSearch()" placeholder="{{placeholderBuscar}}" />
        </label>
        <button class="button button-clear hide-sm" ng-click="cancelarBusca();">
            Cancelar
        </button>
    </div>

	<div class="has-header" id="map" ng-show="tab == 'mapa'"></div>

	<ion-content class="bg-light has-subheader">
		<div ng-if="tab == 'todos' || tab == 'proximos'">
			<div ng-if="clientes && clientes.length">
				<div class="row responsive-sm row-clientes">
					<div class="col col-50" quick-ng-repeat="item in clientes" quick-repeat-list="items">
						<a class="item item-cliente" ui-sref="app.cliente({id:item.ID})">
							<div>
								<div class="valor wrap-s razaoSocial">{{::item.RAZAO_SOCIAL}}</div>
								<div class="valor wrap-s razaoSocial">{{::item.NOME_FANTASIA}}</div>
								<div class="label">{{::item.CIDADE}} - {{::item.UF}}</div>
								<div class="label">{{::item.CGC}}</div>
							</div>
						</a>
					</div>
				</div>
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
			</div>
		<div>
	</ion-content>
	<div class="msg-centro" ng-if="clientes && !clientes.length">
        <i class="icon icon-briefcase"></i> Nenhum cliente encontrado
    </div>
</ion-view>
