<ion-view view-title="Cliente" class="clientes" ng-controller="ClienteCtrl">
<ion-content class="has-header">
<div class="list card">
    <div class="item item-avatar">
        <img src="img/no_image_user.jpg">
        <h2>{{pessoa[0].RAZAO_SOCIAL}}</h2>
        <p>{{pessoa[0].NOME_FANTASIA}}</p>
    </div>
    <table class="table table-striped">

        <tr>
            <td>ID ERP</td>
            <td><b>{{pessoa[0].ID_ERP}}</b></td>
        </tr>
        <tr>
            <td>CNPJ/CPF</td>
            <td><b>{{pessoa[0].CGC}}</b></td>
        </tr>
        <tr>
            <td>IE</td>
            <td><b>{{pessoa[0].IE}}</b></td>
        </tr>
        <tr>
            <td>Telefone</td>
            <td><b><a href="tel:+55{{pessoa[0].TELEFONE}}">{{pessoa[0].TELEFONE}}</a></b></td>
        </tr>
        <tr>
            <td>Endereço</td>
            <td><b>{{pessoa[0].ENDERECO}}</b></td>
        </tr>
        <tr>
            <td>CEP</td>
            <td><b>{{pessoa[0].CEP}}</b></td>
        </tr>
        <tr>
            <td>Cidade / UF</td>
            <td><b>{{pessoa[0].CIDADE}} - {{pessoa[0].UF}}</b></td>
        </tr>
        <tr>
            <td>Responsável</td>
            <td><b>{{pessoa[0].NOME}}</b></td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td><b><a href="mailto:{{pessoa[0].EMAIL}}" class="link">{{pessoa[0].EMAIL}}</a></b></td>
        </tr>
    </table> 

    <div class="row" ng-if="endereco && isOnline">
    <div class="col col-90">

            <img ng-src="http://maps.googleapis.com/maps/api/staticmap?autoscale=1&size=500x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff2f00%7C{{endereco}}" alt="Google Maps" />

        </div>
    </div>
</div>
</ion-content>
</ion-view>
