<form ua-login name="formLogin" ng-submit="logar()" novalidate>
    <ion-view title="Log In">
        <ion-content class="login">
            <div class="bloco-login animated fadeIn">
                <img src="img/ionic.png" width="180" />
                <div class="list list-inset">
                    <div class="alert danger shake" ng-if="error">
                        <i class="icon ion-alert-circled"></i>
                        {{error}}
                    </div>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="email" placeholder="E-mail" ng-model="login.EMAIL" required >
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Senha</span>
                        <input type="password" placeholder="Senha" ng-model="login.SENHA" required>
                    </label>
                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-assertive">
                        <span ng-show="!loading">Entrar</span>
                        <i ng-show="loading" class="ion-loading-b"></i>
                    </button>
                    <button type="button" class="button button-full button-clear button-light" ng-click="openDialogSincronizar()">
                        <i class="icon ion-arrow-swap icon-button"></i>
                        <span>Atualizar aplicativo</span>
                    </button>
                </div>
            </div>
<!--             <div class="boxOverlay" ng-if="!deviceId || !configurado">
                <div class="overlay"></span>
                <div class="boxCentro">
                    <ion-spinner icon="ios-small"></ion-spinner>
                    <span class="text">{{msgLoader}}</span>
                </div>
            </div> -->
        </ion-content>
    </ion-view>
</form>
