<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable bar-assertive" title="OLA">
            <ion-nav-back-button>
                Voltar
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-title>
                {{navTitle}}
            </ion-nav-title>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <ion-list>
                <div class="item menu-card">
                    <div class="menu-avatar">
                        <!-- <img ng-src="img/avatar.jpg" /> -->
                        <img ng-src="img/avatar.jpg" />
                    </div>
                    <span class="info">
                        <p class="menu-nome">{{usuario.NOME}}</p>
                        <p class="menu-email">{{usuario.EMAIL}}</p>
                    </span>
                </div>
                <ion-item nav-clear menu-close ui-sref="app.catalogo" >
                    <i class="icon ion-images"></i> Catálogo
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.clientes">
                    <i class="icon ion-person-stalker"></i> Clientes
                </ion-item>
                <div class="item item-divider">
                    Mais
                </div>
                <ion-item nav-clear menu-close ng-click="openDialogConfiguracoes()" >
                    <i class="icon ion-ios-gear"></i> Configurações
                </ion-item>
                <ion-item nav-clear menu-close ng-click="openDialogSincronizar()" >
                    <i class="icon ion-refresh"></i> Sincronizar
                </ion-item>
                <ion-item nav-clear ng-click="sair()" >
                    <i class="icon ion-android-exit"></i> Sair
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

