<ion-view view-title="Produto" class="produto">
<ion-content>
<div class="row responsive-sm" ng-if="produto">
    <div class="bloco-foto col col-top col-50">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
        <img src="img/produtos/{{produto}}.jpg" />
    </ion-slide>
</ion-slide-box>
</div>
<div class="bloco-info col col-50">
    <div class="produto-info">
        <h6 class="categoria">{{result[0].TITULO}}</h6>
    </div>
    <div class="bloco-relacionados">
        <div class="item item-divider">
            Referências
        </div>
        <div class="produto-info">
            <h6 class="categoria">00000{{result[0].ID}}</h6>
        </div>
        <div class="alert warning" ng-if="combinacoes && !combinacoes.length">
            Nenhuma referência para esse produto
        </div>
        <div class="list">
            <a class="item item-icon-right" ng-class="{'active': item.ID == produto.ID}" ng-click="init(item.ID)" ng-repeat="item in combinacoes">
                <span>
                    {{item.REFERENCIA || item.ID_ERP_PRODUTO}}
                </span>
                            <!-- <span ng-if="item.DESCRICAO">
                                - {{item.DESCRICAO}}
                            </span> -->
                            <span ng-if="item.ESTOQUE">
                                -
                                <strong>{{item.ESTOQUE }} {{item.UNIDADE_MEDIDA}}</strong>
                            </span>
                            
                        </a>
                    </div>
                </div>
                <div class="bloco-relacionados">
                    <div class="item item-divider">
                     Ficha Técnica
                 </div>
                 <div class="list">
                     <button class="button button-full button-calm">
                     Visualizar Ficha Técnica (PDF)
                  </button>
              </div>
          </div>
      </div>
  </div>
</ion-content>
</ion-view>
