<div class="sincronizar" ng-controller="SincronizarController">
    <div class="list">
        <div class="loader" style="width: {{perc}}%"></div>
        <div class="item item-msg">
            {{msg}}
        </div>
        <div class="item item-loader">
            <ion-spinner class="spinner-assertive" icon="spiral"></ion-spinner>
        </div>
        <a class="item link" href ng-click="popSync.close(); stopSync();">
            Cancelar
        </a>
    </div>
</div>