<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/quick-ng-repeat/quick-ng-repeat.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/main.js"></script>
    <script src="js/router.js"></script>
    
    <script src="js/controller/catalogo.js"></script>
    <script src="js/controller/produto.js"></script>
    <script src="js/controller/clientes.js"></script>
    <script src="js/controller/cliente.js"></script>
    <script src="js/controller/login.js"></script>
    <script src="js/controller/sincronizar.js"></script>
    
    <script src="js/service/produto.js"></script>
    <script src="js/service/clientes.js"></script>
    <script src="js/service/db.js"></script>
    <script src="js/service/usuario.js"></script>
    <script src="js/service/sync.js"></script>
  </head>

  <body ng-app="starter">
    <ion-nav-view></ion-nav-view>
  </body>
</html>
